<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="0Harmony" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.2.0" newVersion="2.10.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BepInEx" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.21.0" newVersion="5.4.21.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MonoMod.RuntimeDetour" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.11.5.1" newVersion="20.11.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MonoMod.Utils" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.11.5.1" newVersion="20.11.5.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>