<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.BaseLib" version="5.4.21" targetFramework="net35" />
  <package id="BepInEx.Core" version="6.0.0-pre.1" targetFramework="net35" />
  <package id="DotNetZip" version="1.12.0" targetFramework="net35" />
  <package id="H3VR.GameLibs" version="0.111.8" targetFramework="net35" />
  <package id="HarmonyX" version="2.10.2" targetFramework="net35" />
  <package id="Mono.Cecil" version="0.10.4" targetFramework="net35" />
  <package id="MonoMod.Backports" version="1.0.1" targetFramework="net35" />
  <package id="MonoMod.Core" version="1.0.1" targetFramework="net35" />
  <package id="MonoMod.ILHelpers" version="1.0.0" targetFramework="net35" />
  <package id="MonoMod.RuntimeDetour" version="25.0.2" targetFramework="net35" />
  <package id="MonoMod.Utils" version="25.0.3" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net35" />
  <package id="Newtonsoft.Json.Schema" version="3.0.15" targetFramework="net35" />
  <package id="SemanticVersioning" version="2.0.2" targetFramework="net35" />
  <package id="UnityEngine" version="5.6.1" targetFramework="net35" />
</packages>